
body {
   background-color: black;
}

table.dataTable td {
  font-size: 0.75em;
}

.content {
    background-color: #adb5bd;
    padding: 5px;
    border-radius: 3px;
}
.my-title {
    color: #20c997;
}


.navbar-brand {
  color: #20c997;
  font-size: 1rem;
  font-weight: 600;
  background-color: #212529;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.navbar .navbar-brand:hover {
  color: #20c997;
  background-color: #495057;
}

.navbar .nav-link {
  color:  #20c997;
  font-weight: 400;
  font-size: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.navbar .nav-link:hover {
  color: #20c997;
  background-color: #495057;
}


.navbar .nav-static {
  color:  #20c997;
  font-weight: 350;
  font-size: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.navbar .nav-static:hover {
  color:  #20c997;
  background-color: #212529;
}





.card {
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.8);
    margin: 15px 15px 15px 15px;
};

/* plotly styling */
.js-plotly-plot .plotly .modebar {
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
}
.plot-div {
    display: inline-block;
}
.plot-parent-div {
    overflow: auto;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 3px;
}



/* Bootstrap 5 colors

$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;


*/

